<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <queries>
        <package android:name="com.termux" />
        <package android:name="com.termux.boot" />
    </queries>
    <application>
        <service
            android:name=".ShellyForegroundService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
    </application>
</manifest>
